
.vs/ListaDeClientesCRUD/FileContentIndex/20d54530-7212-4ebe-b24e-f4b99a287394.vsidx
.vs/ListaDeClientesCRUD/FileContentIndex/22da3ca2-25af-4354-8116-d1f0b3c905ab.vsidx
.vs/ListaDeClientesCRUD/FileContentIndex/79413ba8-c661-4fcb-b31b-b4dc2c7375ba.vsidx
.vs/ListaDeClientesCRUD/FileContentIndex/f8b281b7-0719-462a-ae41-b91399a76b7b.vsidx
.vs/ListaDeClientesCRUD/FileContentIndex/fc642666-a1f7-41b2-9fa2-a6ea9eb9ac16.vsidx
