@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h3> Esta aplicaion busca simular una lista de cliente para un posible Estudio Contable </h3>
</div>

